input[type='radio'] {
  width: 0;
  height: 0;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  input[type='radio'] + label:hover {
    cursor: pointer;
    /* STYLES GO HERE */
  }
}

input[type='radio']:focus + label {
  outline: auto;
}
input[type='radio']:checked + label {
  /* STYLES GO HERE */
}
